{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block container %}
<section id="main-content">
  <div class="content" style="margin: fill" >
    <h1>Create new Quiz</h1>
   <table>
       <thead></thead>
       <tbody>
       <tr>


    {{ include('quiz/_form.html.twig') }}
       </tr>
       <tr>

    <a href="{{ path('quiz_index') }}">back to list</a>
       </tr>
       </tbody>
   </table>
  </div>
</section>>
{% endblock %}
