{% extends 'base.html.twig' %}

{% block title %}STATS{% endblock %}

{% block container %}
    <div class="content">
        <h1>STATS</h1>
        <h2>Statistiques des Tests</h2>

        <canvas id="chart1" width="400" height="400"></canvas>
        {{ dump() }}


        <script>
            let chart1 = document.querySelector("#chart1")
            let chartgraph = new Chart(chart1, {
                type:"bar",
                data:{
                    labels:{{ tstid | raw }},
                    datasets:[{
                        label: "nbr test",
                        data:{{ tstnbr | raw }},



                    }]
                }})
        </script>


    </div>
{% endblock %}
